.footer {
    background-color: var(--primary-color);
  }
  
  .footer-link {
    color: var(--background-color);
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  .icons-footer, .icons-footer .fa {
    color: var(--background-color);
    font-size: 24px; /* Adjust size as needed */
    transition: color 0.3s ease, transform 0.3s ease;
    margin-right: 16px;
    display: inline-block; /* Necessary for transform effects */
  }
  
  .icons-footer:hover, .icons-footer:hover .fa {
    color: var(--secondary-color); /* Color on hover */
    transform: scale(1.2) rotate(15deg); /* Increase size slightly and rotate on hover */
  }
  
  .smaller-text {
    font-size: var(--font-xs);
    color: var(--secondary-color);
  }
  
  /* Mobile styles */
@media (max-width: 768px) {
    .footer .col-md-6 {
        text-align: center;
        margin-bottom: 20px; /* Add space between logo/social media and the next element */
    }
    
    .footer .col-md-6, .footer .col-12 {
        width: 100%; /* Force full width */
    }
    
    .footer a.icons-footer {
        display: inline-block; /* Display icons inline-block for horizontal layout */
    }
  
    .footer .col-12 a.footer-link {
      display: block; /* Make each link fill the row */
      margin: 0 auto 10px; /* Add some bottom margin for spacing, adjust as needed */
      text-align: center; /* Center-align the text */
  }
  
  
  }